# Node
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.db

# Env / secrets
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

